/**************** OPERABLES ****************/
/**************** MAPAS ****************/
.red-whatsapp {
  color: #00bb2d; }

.red-facebook {
  color: #3b5998; }

.red-instagram {
  color: #970575; }

/**************** EXTEND ****************/
.quienesgrid, .encabezado, .cuerpo, .pic img, .pie {
  width: 100%;
  height: auto; }

/**************** MIXIN ****************/
/**************** GENERAL ****************/
body {
  background-image: url(../Entregas-Coder/images/fondoweb01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/**************** SECCION INICIO ****************/
.inicio .inicio-logo {
  text-align: center;
  margin-top: 100px; }
  .inicio .inicio-logo img {
    width: 100%;
    max-width: 640px; }

.inicio .inicio-video .container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.inicio .inicio-video .inicio-video-texto {
  width: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px; }

.inicio .inicio-video .inicio-video-video {
  width: calc(50% - 20px); }
  .inicio .inicio-video .inicio-video-video video {
    width: 400px;
    height: 700px; }

.inicio .titulo {
  background-color: rgba(243, 254, 248, 0.751);
  color: rgba(0, 0, 0, 0.55);
  font-size: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  margin: 20px;
  border: 20px;
  text-align: center; }

.inicio .textinicial {
  background-color: rgba(243, 254, 248, 0.751);
  background-attachment: fixed;
  padding: 20px 100px 20px 20px;
  max-width: 300px;
  margin: 20px 20px;
  font-size: 25px;
  font-family: 'Calibri'; }

.inicio .home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly; }

.inicio .tituloproducto {
  background-color: none;
  color: rgba(0, 0, 0, 0.55);
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 5px 5px;
  height: auto;
  margin-top: 130px; }

@media screen and (max-width: 425px) {
  .inicio .inicio .inicio-video .container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .inicio .inicio .inicio-video .inicio-video-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    margin-top: 1000px; }
  .inicio .inicio .inicio-video .inicio-video-video {
    width: 100%;
    height: 400px; } }

@media screen and (min-width: 768px) {
  .inicio .inicio .inicio-video .container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .inicio .inicio .inicio-video .inicio-video-texto {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .inicio .inicio .inicio-video .inicio-video-video {
    width: 70px; } }

/**************** NAVBAR ****************/
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #057405;
  padding: 20px;
  color: white;
  top: 0; }

.navbar-toggler {
  color: white; }

.fotbar {
  background-color: #dd5d26;
  margin: 100%;
  padding: 50px; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 200px; }

.formcontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; }
  .formcontact input {
    padding: 5px;
    margin-top: 10px; }
  .formcontact textarea {
    margin-top: 10px; }

.inputtype {
  padding: 5px;
  align-items: flex-end; }

.quienessomos {
  background-color: rgba(243, 254, 248, 0.751);
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid;
  margin-top: 5rem; }

/**************** SECCION QUIENES SOMOS-GRID ****************/
.grid {
  display: grid;
  grid-template-areas: "encabezado encabezado " "cuerpo cuerpo " "pics pics " "pie pie "; }

.encabezado {
  grid-area: encabezado; }

.cuerpo {
  grid-area: cuerpo; }

.pics {
  grid-area: pics;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw; }

.pic {
  width: calc(50% - 20px); }

.pie {
  grid-area: pie; }

/**************** SECCION QUIENES SOMOS-RESPONSIVE ****************/
@media screen and (min-width: 320px) {
  .pics {
    display: flex;
    flex-direction: column; }
  .pic {
    width: 100%; } }

/**************** SECCION PRODUCTOS ****************/
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-height: 500px;
  margin: auto;
  font-size: 20px; }
  .conteiner img {
    width: 200px; }

.prod1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-top: 5rem; }

.prod2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-top: 5rem; }

.prod3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-top: 5rem; }

.tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem; }

.table {
  background-color: rgba(255, 255, 255, 0.361);
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/**************** SECCION PRODUCTOS-GRID ****************/
.gridproduct {
  display: grid;
  grid-template-areas: "headerproduct headerproduct" " products products " " tabla tabla" "footerproduct footerproduct"; }

.headerproduct {
  grid-area: headerproduct;
  width: 100%;
  height: auto; }

.products {
  grid-area: products;
  width: 100%;
  height: auto; }

.tabla {
  grid-area: tabla;
  width: auto;
  height: auto; }

.footerproduct {
  grid-area: footerproduct; }

/**************** SECCION PRODUCTOS-RESPONSIVE ****************/
@media screen and (max-width: 425px) {
  .prod1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .prod2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .prod3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .tabla {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 18px;
    border: gray; } }

@media screen and (max-width: 425px) and (min-width: 768px) {
  .conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .conteiner {
    max-height: 1000px;
    margin: auto;
    font-size: 20px; }
  .products {
    background-color: none;
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 15px;
    margin: 30px 30px; }
  .products {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cardconteiner {
    display: flex;
    justify-content: center; }
  .products {
    text-align: center; }
  .tabla {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 18px;
    border: gray; } }

/**************** SECCION UBICACION ****************/
.ubication {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.titles {
  text-align: center !important; }

/**************** SECCION UBICACION-RESPONSIVE ****************/
@media screen and (min-width: 320px) {
  .ubication {
    width: 320px; } }

@media screen and (min-width: 768px) {
  .ubication {
    width: 768px; } }

@media screen and (min-width: 1024px) {
  .ubication {
    width: 1024px; } }

/******************** SECCION ANIMACIONES Y TRANSICIONES ********************/
.navbar {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }

.navbar:hover {
  transform: skew(10deg); }

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.664); }

.container img {
  animation-name: animacion-uno;
  animation-iteration-count: initial;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 0.5s; }

@keyframes animacion-uno {
  0% {
    width: 200px; }
  25% {
    width: 100px; }
  75% {
    width: 150px; }
  100% {
    width: 650px; } }

.conteiner img:hover {
  height: 400px;
  width: 400px; }
