.fotbar{ 
        background-color: #e1f8e1;
        margin: 0px;
        padding: 0px;
        width: 100vw;
        
}
.row{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-left: 200px;
    }

    @media screen and (max-width:425px) {
       .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
       }
    }   
    
    @media screen and (max-width:852px) {   
     .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
        }
  
.formcontact{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
       
         input{
        padding: 5px;    
        margin-top: 10px;
    }
         textarea{
         margin-top: 10px;
}
}
.inputtype {
    padding: 5px;
    align-items: flex-end;
}
