/**************** GENERAL ****************/

body{ 
    background-image: url(../Entregas-Coder/images/fondoweb01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    width:max-content;      
}

.container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

}