/**************** NAVBAR ****************/
header{
    position: fixed;    
    z-index: 999;
    width:100%;
    background: $colornavbar;
    padding:20px;
    color: $colorletrasnavbar; 
    top:0;
}

.navbar-toggler{
            color: $colorletrasnavbar ;
}
