$colornavbar:rgb(5, 116, 5);
$colorletrasnavbar: white;
$productsmedle: 10rem;
$productsmedtop: 5rem;
$redes:(whatsapp: #00bb2d,
        facebook: #3b5998,
        instagram:#970575,
);
/**************** MAPAS ****************/
@each $red, $color in $redes{
    .red-#{$red} {
        color:$color;
    }    
}
/**************** EXTEND ****************/
.quienesgrid{
    width: 100%;
    height: auto;
}
/**************** MIXIN ****************/
@mixin productosmix{
                display:flex; 
                flex-direction: row;
                justify-content: space-between; 
                align-items: center;
            }


@import"general.scss";
@import"inicio.scss";
@import"navbar.scss";
@import"fotbar.scss";
@import"quienessomos.scss";
@import"productos.scss";
@import"ubicacion.scss";
@import"animaciones.scss";


