$colornavbar:rgb(5, 116, 5);
$colorletrasnavbar: white;
$productsmedle: margin-left 7rem ;
$productsmedtop: margin-top 3rem;
$productsdisplay: display flex flex-direction row justify-content space-between align-items center;