.quienessomos{
    background-color:  rgba(243, 254, 248, 0.751);
    color: black;
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:solid;
    margin-top: 5rem;
}
/**************** SECCION QUIENES SOMOS-GRID ****************/

.grid{
    display: grid;
    grid-template-areas: "encabezado encabezado "
                          "cuerpo cuerpo "
                            "pics pics "
                          "pie pie ";
} 
.encabezado{
grid-area: encabezado;
@extend .quienesgrid;
}
.cuerpo{ 
grid-area:cuerpo;
@extend .quienesgrid;
}
.pics{
grid-area: pics;
display: flex;
flex-wrap: wrap ;
justify-content: space-between;
width: 100vw ;
}

.pic{
width: calc(50% - 20px);

    img{
        @extend .quienesgrid;
    }
}
.pie{
grid-area: pie;
@extend .quienesgrid;
}

/**************** SECCION QUIENES SOMOS-RESPONSIVE ****************/

@media screen and (min-width:320px){
.pics{
        display: flex;
        flex-direction: column;
    }    
.pic{
    width: 100%;
}
} 