/**************** SECCION UBICACION ****************/
.ubication{    
    margin-left: 15rem;
  }
  .titles{
           text-align: center !important; }
  /**************** SECCION UBICACION-RESPONSIVE ****************/
  @media screen and (min-width:320px){
      .ubication{
              width: 320px;
      }    
  }
  @media screen and (min-width:768px){
      .ubication{
              width: 768px;
      }    
  }
  @media screen and (min-width:1024px){
      .ubication{
              width: 1024px;
      }    
  }
  