/**************** SECCION UBICACION ****************/
.ubication{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  /**************** SECCION UBICACION-RESPONSIVE ****************/
  @media screen and (min-width:320px){
      .ubication{
              width: 320px;
      }    
  }
  @media screen and (min-width:768px){
      .ubication{
              width: 768px;
      }    
  }
  @media screen and (min-width:1024px){
      .ubication{
              width: 1024px;
      }    
  }
  .quienessomos{
              background-color:  rgba(243, 254, 248, 0.751);
              color: black;
              font-size: 30px; 
              font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              border:solid
  }