/**************** GENERAL ****************/

body{ 
    background-image: url(../pre-entregafacundotejeda/images/fondoweb01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    width:max-content;      
}
.container{
    max-width:1024px;
    margin:0px auto;      
}

/**************** NAVBAR ****************/
header{
    position: fixed;    
    z-index: 999;
    width:calc(100% - 40px);
    background: rgb(2, 67, 8);
    padding:20px;
    color: #fff;
    top:0;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;  
    padding:0px;
    margin:0px;
}
.navbar ul li {
    border: none;
    font-size: 14px;
    margin-left: 20px; 
    width: auto;
}
.navbar ul li a{
    color: white;
    padding: 10px 10px;
}


@media screen and (min-width:320px) {
    .navbar {
        height:auto;  
    }
    .navbar ul li {
        font-size: 14px;         
        width: 100%;
    }
    .navbar ul li a{
        color: white;
        padding: 5px 10px;
    }
    .navbar ul li a:hover{
        background-color: rgb(5, 116, 5);
    }
}

@media screen and (min-width: 768px ){
    .navbar ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;  
        padding:0px;
        margin:0px;
    }
    .navbar ul li {
        width: auto;
        border: none;
        font-size: 14px;
        margin-left: 20px; 
    }
    .navbar ul li a{
        color: white;
        padding: 10px 10px;
    }
    .navbar ul li a:hover{
        background-color: rgb(5, 116, 5);
    }
    
}

@media screen and (min-width: 1440px){
    .navbar ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;  
        padding:0px;
        margin:0px;
    }
    .navbar ul li {
        width: 100%;
        border: none;
        font-size: 14px;
        margin-left: 20px; 
    }
    .navbar ul li a{
        color: white;
        padding: 10px 10px;
    }
    .navbar ul li a:hover{
        background-color: rgb(5, 116, 5);
    }
}


/**************** SECCION INICIO ****************/
.inicio .inicio-logo{        
    text-align: center;
    margin-top: 50px;
}
.inicio .inicio-logo img{        
    width: 100%;
    max-width: 640px;
}
.inicio .inicio-video .container{ 
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.inicio .inicio-video .inicio-video-texto{ 
    width:calc(50% - 20px);    
}
.inicio .inicio-video .inicio-video-video{ 
    width:calc(50% - 20px);
}
.inicio .inicio-video .inicio-video-video video{ 
    width:auto;
    height:auto;
}
.inicio-video-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
@media screen and (min-width:320px) {
    .inicio .inicio-video .container{ 
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .inicio .inicio-video .inicio-video-texto{         
        width:100%;
        margin-top:20px;
        font-size: 30px;    
           
    }
    .inicio .inicio-video .inicio-video-video{ 
    width: auto;   
    }    
}

@media screen and (min-width:768px) {
.inicio .inicio-video .container{ 
    display:flex;
    flex-direction:row;
    justify-content: center;
}
    .inicio .inicio-video .inicio-video-texto{ 
        width: 100%;        
        font-size: 20px;
        display: flex;
        justify-content: center;
    align-items: center;
    }
    .inicio .inicio-video .inicio-video-video{ 
        width:70%;
    }
}


.titulo{
    background-color: rgba(243, 254, 248, 0.751);
    color:rgba(0, 0, 0, 0.55) ;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:20px ;
    margin:20px ;
    border:20px;
    text-align: center ;    
}
    
.navbaritems{
            font-size: 20px;
            color: rgb(50, 50, 50);
}

.textinicial{
            background-color:  rgba(243, 254, 248, 0.751);
            background-attachment: fixed;
            padding: 20px 100px 20px 20px;
            max-width: 300px;
            margin: 20px 20px;
            font-size: 25px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
.home{
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-evenly;
}

.tituloproducto{
        background-color: none;
        color: rgba(0, 0, 0, 0.55);
        font-size: 50px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        padding: 5px 5px;
        height: auto;
        margin-top: 130px;
}
/**************** SECCION PRODUCTOS ****************/
.conteiner img {    
    width: 200px;   
}
.conteiner{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conteiner{
        max-height: 500px;
        margin: auto;
        font-size: 20px;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.products{
         background-color: none;
        color: black;
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        padding: 15px 15px;
        margin: 10px 10px;
}

.cardconteiner{
        display: flex;
        justify-content: center;
      }
.product1{
    background-color:rgba(255, 255, 255, 0.361) ;
       color: black;      
       font-size: 20px;
}
.product2 {
    background-color:rgba(255, 255, 255, 0.361) ;
    color: black;      
    font-size: 20px;
}
.product3{
    background-color:rgba(255, 255, 255, 0.361) ;
       color: black;      
       font-size: 20px;
}
.product4{
    background-color:rgba(255, 255, 255, 0.361) ;
       color: black;      
       font-size: 20px;
} 

.products{
    text-align: center;
}

.tabla{
    display:flex;
        justify-content: center;
        align-items: baseline;  
}
.table{
        background-color:rgba(255, 255, 255, 0.361) ;
        color: rgb(0, 0, 0);
        font-size: 20px; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;          
     }

/**************** SECCION PRODUCTOS-GRID ****************/
.gridproduct{
        display: grid;
        grid-template-areas: "headerproduct headerproduct"
                            " products products "
                            " tabla tabla"
                            "footerproduct footerproduct";
                       
}
.headerproduct{
            grid-area: headerproduct;
            width: 100%;
            height: auto;
        }
        
.products{
        grid-area: products;
        width: 100%;
        height: auto;
}
.tabla{
        grid-area: tabla;
        width: 100%;
        height: auto;
}
.footerproduct{
        grid-area: footerproduct;
}

/**************** SECCION PRODUCTOS-RESPONSIVE ****************/
@media screen and (min-width:320px){
    .conteiner{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .conteiner{
            max-height: 1000px;
            margin: auto;
            font-size: 20px;
    }
    
    .products{
            background-color: none;
            color: black;
            font-size: 30px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 15px 15px;
            margin: 30px 30px;            
    }
    .products{
            display: flex;
            justify-content: center;
            align-items: center;
    }    
    .cardconteiner{
            display: flex;
            justify-content: center;
    }       
    .products{
        text-align: center;
    }    
    .tabla{
        display:flex;
            justify-content: center;
            align-items: baseline;  
            margin-left: 18px;
            border: gray;
    }
@media screen and (min-width:768px){
        .conteiner{
            display: flex; 
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .conteiner{
                max-height: 1000px;
                margin: auto;
                font-size: 20px;
        }        
        .products{
                background-color: none;
                color: black;
                font-size: 30px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                padding: 15px 15px;
                margin: 30px 30px;            
        }
        .products{
                display: flex;
                justify-content: center;
                align-items: center;
    
        }        
        .cardconteiner{
                display: flex;
                justify-content: center;
        }
           
        .products{
            text-align: center;
        }
        
        .tabla{
            display:flex;
                justify-content: center;
                align-items: baseline;  
                margin-left: 18px;
                border: gray;
        }
}

/**************** SECCION UBICACION ****************/
.ubication{    
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/**************** SECCION UBICACION-RESPONSIVE ****************/
@media screen and (min-width:320px){
    .ubication{
            width: 320px;
    }    
}
@media screen and (min-width:768px){
    .ubication{
            width: 768px;
    }    
}
@media screen and (min-width:1024px){
    .ubication{
            width: 1024px;
    }    
}
.quienessomos{
            background-color:  rgba(243, 254, 248, 0.751);
            color: black;
            font-size: 30px; 
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border:solid
}

.fotbar{
    position:sticky;
    z-index: 999;
    width: 100%;
    height:100%;
    background: rgba(5, 103, 13, 0);
    height: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    color: rgb(0, 0, 0)
      
     }
.fotbar{
        display:flex;
        flex-direction: row;
        align-items: center;
       justify-content: space-around;     
       
}
.fotbar{
        list-style-type: none;
        height: 100px;
}

.targetinsta{
    background-color:rgba(243, 254, 248, 0.751) ;
    list-style-type: none;
    text-decoration: none;
    width: max-content;
    padding: 0px 3px 0px 0px;
    list-style-type: none;
    }
.targetfacebook{
    list-style-type: none;
    text-decoration: none;
    width: max-content;
    padding: 0px 3px 0px 0px;
    }
.targetwhatsapp{
    list-style-type: none;
    text-decoration: none;
    width: max-content;
    padding: 0px 3px 0px 0px;
    }
.formcontact{
        display:flex;
        flex-direction: column;
        align-items: center;
       
}
.formcontact input{
    padding: 5px;    
    margin-top: 10px;
}
.formcontact textarea{
    margin-top: 10px;
}
.inputtype {
    padding: 5px;
    align-items: flex-end;
        
}
 

/**************** SECCION QUIENES SOMOS-GRID ****************/

.grid{
        display: grid;
        grid-template-areas: "encabezado encabezado "
                              "cuerpo cuerpo "
                                "pics pics "
                              "pie pie ";
} 
.encabezado{
    grid-area: encabezado;
    width: 100%;
    height: auto;
}
.cuerpo{ 
    grid-area: cuerpo;
    width: 100%;
    height: auto;
}
.pics{
    grid-area: pics;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    width: 100vw ;
}

.pic{
    width: calc(50% - 20px);
}
.pic img{
    width: 100%;
    height:auto;
}
.pie{
    grid-area: pie;
    width: 100%;
    height: auto;
}
}
/**************** SECCION QUIENES SOMOS-RESPONSIVE ****************/
  
@media screen and (min-width:320px){
    .pics{
            display: flex;
            flex-direction: column;
        }    
    .pic{
        width: 100%;
    }
} 
/******************** SECCION ANIMACIONES Y TRANSICIONES ********************/
.navbar{
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
}
.navbar:hover{
        transform: skew(10deg);
}
.navbar ul li a:hover{
    background-color:rgba(255, 255, 255, 0.664); 
}

.container img{
            animation-name: animacion-uno;
            animation-iteration-count:initial
            animation-timing-function: ease-in-out;
            animation-duration: 3s;
            animation-delay: 0.5s;
}
@keyframes animacion-uno{

        0%{
            width: 200px;
        }
        25%{
            width: 100px;
        }
        75%{
            width: 150px;
        }
        100%{
            width: 650px;
        }
}

